# For

- for is a function that can loop over each type of variable in the form of a collection or sequence
- The variable in question can be a list, string, or range
- If a list or sequence contains an expression, it will be evaluated first
- Then the first item in the sequence/list will be assigned as the iterating_var variable
- Afterwards, the block of statements will be executed, continuing to the next item, repeating itself, until the entire sequence is completed

In [1]:
for i in 'data':
    print('huruf {}'.format(i))

huruf d
huruf a
huruf t
huruf a

In [2]:
for a in 'data':
    print(a)

d
a
t
a

In [3]:
color = ['merah', 'kuning', 'hijau']

for i in color:
    print('Warna {}'.format(i))

Warna merah
Warna kuning
Warna hijau

Task 1

In [4]:
for i in 'kampus':
    print(i)

k
a
m
p
u
s

In [5]:
data = ['irene', 20, 53.0]

for i in data:
    print(data)

['irene', 20, 53.0]
['irene', 20, 53.0]
['irene', 20, 53.0]

In [6]:
buah = ['mangga', 'jambu', 'apel']

for i in buah:
    print('Ini buah {}'.format(i))

Ini buah mangga
Ini buah jambu
Ini buah apel

# Range

In [7]:
for i in range(3):
    print(i)

0
1
2

In [8]:
for i in range(1,4):
    print(i)

1
2
3

Task 2

In [9]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [10]:
for i in range(6,10):
    print(i)

6
7
8
9

# For Multilevel

In [11]:
for row in range(3):
    for col in range(3):
        if row == 0 and col <= 2:
            print('*', end = ' ')
        elif row == 1 and col <= 1:
            print('*', end = ' ')
        elif row == 2 and col == 0:
            print('*', end = ' ')
    print()

* * *
* *
*

Task 3

In [13]:
for row in range(4):
    for col in range(4):
        if row == 0 and col <= 3:
            print('*', end = ' ')
        elif row == 1 and col <= 2:
            print('*', end = ' ')
        elif row == 2 and col <= 1:
            print('*', end = ' ')
        elif row == 3 and col == 0:
            print('*', end = ' ')
    print()

* * * *
* * *
* *
*